<!-- <div class="container">

    <div class="row mt-4">
      <div class="col-sm"> 
          <div class="focus_content-1">
            <h6 class="focus_title">
                HEALTHCARE 
            </h6>
                <p class="focus_p">
                    In healthcare, we want to adopt a holistic strategy. 
                    Therefore, our focus areas are establishing, developing, 
                    maintaining, and running dispensaries, laboratories, maternity 
                    homes, child welfare centers, old age homes, orphanages, homes 
                    for destitute women and differently-abled children, and providing 
                    financial assistance to the disadvantaged or weak for medical treatment. 
                    The trust has veterans from the healthcare field who have worked at the 
                    ground level and area ware of the challenges, the necessary immediate 
                    steps, and long term goals that we need to address.
                </p>
            </div>
      </div>
       <div class="col-sm">
            <img
                src="assets/imgs/focus_2.jpeg"
            />   
       </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm">
            <img
                src="assets/imgs/focus_3.jpeg"
            />   
        </div>
        <div class="col-sm"> 
            <div class="focus_content-2">
                <h6 class="focus_title">
                    EDUCATION
                </h6>
                <p class="focus_p">
                    Today's 21st-century education presents unique 
                    challenges and opportunities to students. We attempt 
                    to start a trail-blazing journey that uplifts education 
                    and makes it accessible to everyone. We are in pursuit of 
                    a transformed learning experience for our children. We also 
                    want to focus on new and effective ways of imparting education. 
                    For this, we are in touch with educators, socialworkers, reformers,
                    education institutes, and change makers. We also propose to establish,
                    develop, maintain, and run educational institutions at all levels, 
                    including medical and technical institutions and universities/colleges
                    / schools, and work for disseminating education and assisting academic
                    research and developments.
                </p>
             </div>
        </div>
     </div>

    <div class="row" style="margin-top: 40px;">
        
        <div class="col-sm"> 
            <div class="focus_content-3">
                <h6 class="focus_title">
                    EMPLOYABILITY AND UPSKILLING
                </h6>
                <p class="focus_p">
                    Our goal is to create a world that works for all. 
                    We want to eradicate the lines of exclusivity and 
                    build an inclusive society. While inclusivity has many aspects 
                    to consider, we want to start by bringing in economic and 
                    social equality by creating equal opportunities and being self-reliant. 
                    For this, we are working with thought-leaders, social reformers, educators, 
                    and experts who can create opportunities, impart skills training and 
                    identify ways and means to upskill people and make them employable.
                </p>
            </div>   
        </div>
        <div class="col-sm">
            <img
                src="assets/imgs/focus_4.jpeg"
            />   
        </div>
     </div>
     <div class="line">
       <hr class="line_divider"/>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm">
            <img
                src="assets/imgs/focus_5.jpeg"
            />   
        </div>
        <div class="col-sm"> 
            <div class="focus_content-4">
                    <h6 class="focus_title">
                        LETTER
                    </h6>
                    <p class="focus_p">
                        Dear All, This year is a mixed bag of emotions.
                        We celebrate the Amrut Mahotsav of India's independence
                        while battling a deadly disease everyday. Our freedom, 
                        glorious 75 years of independence, is a hard-won gift given 
                        to us by our predecessors. Now we have the opportunity to create 
                        shared prosperity at an unprecedented level, especially after the pandemic. 
                        We don't want to mention the way the pandemic has affected and changed our 
                        lives. We have been through it together. Each of us has been affected, 
                        each of us has witnessed, fought, and braved the situation and emerged 
                        stronger from it. Instead, we want to focus on the opportunity the pandemic 
                        has granted us to do something unique, reach out to others, bring a difference, 
                        and create an impact. Seizing this opportunity depends on us, you, me, and we. 
                        We have a chance that may perhaps not come again for another millennium: 
                        to craft a society that reflects our deepest values. In a world seemingly 
                        going in a million directions at once, we can, and must, choose a movement, 
                        a focus, and an intention. At no other time has it been so clear: 
                        our future is our choice. Despite the unprecedented growth that our 
                        country has witnessed and our advances in medicine and technology, 
                        there are still thousands of people in our country who do not have 
                        access to quality healthcare, a good education, or the opportunity 
                        to participate in the institutions that will dramatically affect their 
                        lives and futures. However, these problem scan be surmounted if we fervently 
                        believe in it, if you and I join hands, if we come together and if we commit 
                        ourselves to this cause. GSR Trust is our first step towards bringing in the 
                        change we wish to see. It is our tribute to our country and away of giving 
                        back to society. So join us as we embark on this committed journey to bring 
                        about a change. With your support and solidarity, we will rise stronger through 
                        this adversity. 
                        <br>
                        Jai Hind. 
                        <br>
                        
                    </p>
                    <p>
                        FOUNDERS@GSR
                    </p>
            </div>
        </div>
    </div>
</div> -->
<div class="container mt-4 mb-3">
    <h1>At GSR,Our primary objective is to place <br>people at the center of development</h1>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
          <div class="foucs-content">
      <h3>  HEALTHCARE </h3>
      <p>  In healthcare, we want to adopt a holistic strategy. 
        Therefore, our focus areas are establishing, developing, 
        maintaining, and running dispensaries, laboratories, maternity 
        homes, child welfare centers, old age homes, orphanages, homes 
        for destitute women and differently-abled children, and providing 
        financial assistance to the disadvantaged or weak for medical treatment.</p> 
        <p>
        The trust has veterans from the healthcare field who have worked at the 
        ground level and area ware of the challenges, the necessary immediate 
        steps, and long term goals that we need to address.</p>
      </div>
    </div>
      <div class="col-sm">
        <img
        src="assets/imgs/focus_2.jpeg"
    />   
      </div>
    </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <img
                src="assets/imgs/focus_3.jpeg"
            />   
          </div>
          <div class="col-sm">
            <div class="foucs-content">
                <h3> EDUCATION</h3>
                <p>Today's 21st-century education presents unique challenges and opportunities to students.
                     We attempt to start a trail-blazing journey that uplifts education and makes it accessible
                      to everyone. We are in pursuit of a transformed learning experience for our children.</p>
                      <p> We also
                       want to focus on new and effective ways of imparting education. For this, we are in touch with
                        educators, socialworkers, reformers, education institutes, and change makers. We also propose to
                         establish, develop, maintain, and run educational institutions at all levels, including medical 
                         and technical institutions and universities/colleges / schools, 
                    and work for disseminating education and assisting academic research and developments.</p>
            </div>
          </div>
        </div>
 <br>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="foucs-content">
                <h3> EMPLOYABILITY AND UPSKILLING</h3>
                <p>Our goal is to create a world that works for all. We want to eradicate the lines of
                     exclusivity and build an inclusive society. While inclusivity has many aspects to consider,
                      we want to start by bringing in economic and social equality by creating equal opportunities and 
                      being self-reliant. For this, we are working with thought-leaders, social reformers, educators, 
                      and experts who can create opportunities, impart skills 
                    training and identify ways and means to upskill people and make them employable.</p>
              </div>
              </div>
              <div class="col-sm">
                <img
                src="assets/imgs/focus_4.jpeg"
            />  
              </div>
            </div>
            <br>

            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <img
                src="assets/imgs/focus_5.jpeg"
            />   
                  </div>
                  <div class="col-sm">
                      <div class="focus_content-1">
                  <h3> LETTER</h3>
                        <p> Dear All, This year is a mixed bag of emotions.
                            We celebrate the Amrut Mahotsav of India's independence
                            while battling a deadly disease everyday. Our freedom, 
                            glorious 75 years of independence, is a hard-won gift given 
                            to us by our predecessors. Now we have the opportunity to create 
                            shared prosperity at an unprecedented level, especially after the pandemic.</p> 
                             <p>
                            We don't want to mention the way the pandemic has affected and changed our 
                            lives. We have been through it together. Each of us has been affected, 
                            each of us has witnessed, fought, and braved the situation and emerged 
                            stronger from it. Instead, we want to focus on the opportunity the pandemic 
                            has granted us to do something unique, reach out to others, bring a difference, 
                            and create an impact. Seizing this opportunity depends on us, you, me, and we. 
                            We have a chance that may perhaps not come again for another millennium: 
                            to craft a society that reflects our deepest values. In a world seemingly 
                            going in a million directions at once, we can, and must, choose a movement, 
                            a focus, and an intention. At no other time has it been so clear: 
                            our future is our choice.</p>
                            <p> Despite the unprecedented growth that our 
                            country has witnessed and our advances in medicine and technology, 
                            there are still thousands of people in our country who do not have 
                            access to quality healthcare, a good education, or the opportunity 
                            to participate in the institutions that will dramatically affect their 
                            lives and futures. However, these problem scan be surmounted if we fervently 
                            believe in it, if you and I join hands, if we come together and if we commit 
                            ourselves to this cause.</p>
                            <p> GSR Trust is our first step towards bringing in the 
                            change we wish to see. It is our tribute to our country and away of giving 
                            back to society. So join us as we embark on this committed journey to bring 
                            about a change. With your support and solidarity, we will rise stronger through 
                            this adversity.Jai Hind.  </p>
                            <h3>FOUNDERS@GSR</h3>
                    </div>
                </div>
                </div>
                </div>