.focus_content-1 {
    margin-top: 200px;
    margin-bottom: 200px;
}
.focus_title {
    font-size: 16pt;
    font-weight: bold;
}
.focus_p {
    font-size: 16px;
    font-family: "Montserrat-Medium";
}
.focus_content-2{
    margin-top: 160px;
}
.focus_content-4{
    margin-top: 37px;
}
.focus_content-3{
    margin-top: 240px;
}
.line {
    margin-top: 20px;
  }
.line .line_divider{
    margin-top: 20px;
}
  