<!-- Footer -->
<footer class="page-footer pt-4 footer_bg">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
        <!-- Grid column -->
        <div class="mt-md-0 mt-3 ml-4">

          <!-- Content -->
          <p class="footer_bottom-text te">
            Location: H.No 1-2-412/1/4, Flat no 202, Mekhala Legend 1, Gagan Mahal, Domalguda, Hyderabad, Telangana 500029
          </p>

        </div>
            <div class="footer">  
        <div class="row ml-2 mr-3">
        <ul class="row mr-auto pt-5 mt-4">
            <a class="mr-5" routerLink="home" style="color: rgba(255, 255, 255, 1);" >Home</a>
            <a class="mr-5" routerLink="about" style="color: rgba(255, 255, 255, 1);">About Us</a>
            <a class="mr-5" routerLink="foucs" style="color: rgba(255, 255, 255, 1);" >Our Foucs Area</a>
            <a class="mr-5" routerLink="contact" style="color: rgba(255, 255, 255, 1);">Contact Us</a>
        </ul>
        <div class="form-button mt-5 pt-4">
            <button type="button" routerLink="join" class="btn">Join Us</button>
        </div>
    </div>
        <hr style="background: white;">
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-md-left ml-4 footer_bottom-text">
      <span>© Dr. GSR Charitable Trust Privacy Statement Disclaimer and Cookie Statement Disclosures Notices</span>
    </div>
  </div>     
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
