.footer_bg {
    background: linear-gradient(-354deg, rgba(6, 155, 187, 1) 0%, rgba(0, 81, 149, 1) 100%);
    margin-top: 20px;
    height: 320px;
}

.footer_bottom-text {
    color: rgba(255, 255, 255, 1);
    font-size: 12pt;
}
.btn{
    border: 1px solid;
    border-radius: 1.345rem;
    width: 100px;
    background: white;
    color: rgba(0, 81, 149, 1);
    justify-self:  flex-end;
  }
  
  @media screen and (max-width: 599.9px){
  .footer{
  display: none;
  }
}