@media screen and (max-width: 599.9px){

.form-row{
width: 480px;


}
.shadow {
    width: 500px;
  
}
.img-contact{
  width: 470px;
}
.shadow h2{
    font-size:100%;
}

}
.btn{
    border: 1px solid;
    border-radius: 1.345rem;
    width: 120px;
    height: 45px;
    background: linear-gradient(-264deg, rgba(6, 155, 187, 1) 0%, rgba(0, 81, 149, 1) 100%);
    color: white;
    
    
  }
  .form-button{
      text-align: right;
      margin-top: 10px;
  }

  .col h1{
    background: linear-gradient(to right, #00b4b1 0%, #026ca8 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
  }
  .shadow h2{
    background: linear-gradient(to right, #00b4b1 0%, #026ca8 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold; 
  }
  