


<div class="container">
    <div class="row mt-5">
      <div class="col mt-5">
       <h1>  ContactUs  </h1>
      
       <p>Regd No: 74/BK IV/2021 | ESTD-2020</p>  

         <br>
       <p>H.No 1-2-412/1/4, Flat no 202, Mekhala Legend 1, Gagan Mahal, Domalguda, Hyderabad, Telangana 500029</p> 
       <br>

       <div class="mt-4">
      <img class="img-con" src="assets/imgs/Group_19.png">  <span class="ml-3">  help@drgsrtrust.org</span>
      <br>
    </div>

    <div class="mt-4">
      <img class="img-con " src="assets/imgs/Group_8_1.png">  <span class="ml-3">  www.drgsrtrust.org</span>
    </div>

      <br>
      <img class="img-con" src="assets/imgs/Group_8.png">  <span class="ml-3"> +91 00000 00000</span>

      
    </div>
      <div class="col mt-4">
      
        <img class="img-contact" src="assets/imgs/Bitmap.png">
      </div>
    </div>
    
 

    <form>
      <div class="shadow p-3 mb-5 bg-white rounded mt-5">
        <h2>Send us a Message</h2>
      <div class="form-row d-flex  mt-2">
        <div class="col "   >
          <input type="text" class="form-control"  placeholder="First name">
          <br>
          <input type="text" class="form-control" placeholder="Last name">
          <br>
          <input type="text" class="form-control" placeholder="Last name">
        </div>
        <div class="col d-flex sai">
       <textarea type="text"  class="form-control" rows="6" placeholder="Message"></textarea>
        </div>
      </div>
      <div class="form-button">
      <button type="button" class="btn">Send</button>
    </div>
    </div>
    </form>