<div class="container mt-4">
    <div class="row">
      <div class="col">
      <h1>Join Us</h1>
      <p>We need supporters, partners, staff, and volunteers like you who share our commitment to the well-being of our society.
         Every person plays a key role in keeping us working toward this ultimate goal. Are you ready?</p>
         <p> If you feel an inner calling, a persistent need to do more for the world, we will help you convert this call in to an action. So become a change agent today by joining us
              in any of our initiatives. Remember, you can make a difference.</p>
              <form>
                <div class="form-row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                    <br>
                    <input type="text" class="form-control" placeholder="Last name">
                    <br>
                  
                     
                      <select id="inputState"  class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
       <br>
                      <select id="inputState"  class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                   
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                    <br>
                    <input type="text" class="form-control" placeholder="Last name">
                       <br>
                    <select id="inputState"  class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
      <br>
                    <select id="inputState"  class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                    <div class="form-button">
                      <button type="button" class="btn">Send</button>
                    </div>
                  </div>
                 
                </div>
              </form>
      </div>
      <div class="col">
     <img class="img-join" src="https://gsrtrust-uat.netlify.app/css/images/hands_1.png">
      </div>
    </div>