<!-- <div class="container">
    <h1 class="about_title">
        Our Stroy: Rising Stronger Through Adversity
    </h1>
    <p class="about_content-1">
        GSR Trust works towards building a new compassionate culture, with equality and inclusion
         as its foundation. We want to empower people and develop new ways
          to solve healthcare, education, and employment challenges aggravated in the post-pandemic era.
    </p>
    <img class="img_about-2" src="assets/imgs/about_1.jpeg" > 

    <div class="about_ad-1">
        <p class="about_content-2">
            Adversity is a remarkable teacher. 
            The inception of GSR Trust took place when the COVID-19 pandemic hit our world. 
            The pandemic posed enormous challenges and disrupted human life in ways we never imagined.
        </p>
    </div>
</div>
    <p class="about_content-1">
        Within days of the outbreak, - our founders who have cracked many healthcare challenges
         and worked extensively for social causes - were on the ground working with healthcare 
         professionals, hospitals, and MedTech companies to do what ever it takes to lessen the
          impact of this adversity. Their extensive ground work helped them gather thoughtful 
          real-time insights in to a crisis that will define an entire generation ahead.
    </p>
    <p class="about_content-1">
        Given the scale and fury of change during the pandemic and to mount an effective 
        response, our founders actively engaged with other thought leaders, doctors, social groups,
         educators, professional networks and participated in collaborative sessions for ideas and 
         solutions to adjust to unrelenting volatility.
    </p>
    <p class="about_content-1">
        The members skill fully captured lessons from their discussions and their own first-hand 
        experience as a covid warrior. They gathered insights in areas like healthcare, education,
         and employability. As a country, we faced some success stories and setbacks; our founders
          decided to take each breakdown as a challenge and use it to create a breakthrough. 
          The result is the GSRTrust.
    </p>
    <div class="container">
    <img class="img_about-3"  src="assets/imgs/about_2.jpeg" >

    <div class="about_ad-2">
      <span>  OUR VISION </span>
          
        
        <p class="about_content-3">
            At GSR, the trust's vision is to create a sustainable,
             inclusive, equitable, and compassionate society that thrives and enriches people.
        </p>
      <span>  OUR MISSION</span>
          
       
        <p class="about_content-3">
            Our mission is to drive real social change toward inclusion and equity by focussing
             on three core areas of healthcare, education, and employment.
        </p>
    </div>
</div> -->

<div class="container">
<h1 class="about_title">
    Our Stroy: Rising Stronger Through Adversity
</h1>
<p class="about_content-1">
    GSR Trust works towards building a new compassionate culture, with equality and inclusion
     as its foundation. We want to empower people and develop new ways
      to solve healthcare, education, and employment challenges aggravated in the post-pandemic era.
</p>
<section class="container mb-4">
    <div class="wrapper">
      <div class="block">
        <span class="span">
          <div class="bg"></div>
        
        </span>
      </div>
      <div class="content">
        <h3>HEALTHCARE</h3>
        <p>Our goal is to offer reliable, affordable, and quality health care services to the
           marginalized communities that do not have access to these services. </p>
      </div>
    </div>
  </section>

  <p class="about_content-1 mt-5">
    Within days of the outbreak, - our founders who have cracked many healthcare challenges
     and worked extensively for social causes - were on the ground working with healthcare 
     professionals, hospitals, and MedTech companies to do what ever it takes to lessen the
      impact of this adversity. Their extensive ground work helped them gather thoughtful 
      real-time insights in to a crisis that will define an entire generation ahead.
</p>
<p class="about_content-1">
    Given the scale and fury of change during the pandemic and to mount an effective 
    response, our founders actively engaged with other thought leaders, doctors, social groups,
     educators, professional networks and participated in collaborative sessions for ideas and 
     solutions to adjust to unrelenting volatility.
</p>
<p class="about_content-1">
    The members skill fully captured lessons from their discussions and their own first-hand 
    experience as a covid warrior. They gathered insights in areas like healthcare, education,
     and employability. As a country, we faced some success stories and setbacks; our founders
      decided to take each breakdown as a challenge and use it to create a breakthrough. 
      The result is the GSRTrust.
</p>
</div>

  <section class="container mt-5">
    <div class="content-wrapper">
      <div class="gsr-block">
        <span class="gsr-span">
          <div class="gsr-bg"></div>
          <!-- <img
              src="https://www.imc.com/media/12f22e0b1d7fa2dcf81a1cb36fb63050b60fd42b_ozfest_hero.jpg" alt="What we do"
              title="What we do" /> -->
        </span>
      </div>

      <div class="content1">
        <h3>OUR VISION</h3>
        <p>
          At GSR, the trust's vision is to create a sustainable, inclusive, equitable, and compassionate society that thrives and enriches people.
        </p>
        <br>
        <h3>OUR MISSION</h3>
        <p>
          Our mission is to drive real social change toward inclusion and equity by focussing on three core areas of healthcare, education, and employment.
        </p>
      </div>
    </div>
  </section>