<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>


<div class="container">

<div class="row">
 <div class="col mt-2">
     
   <h1>Gyanam, Swasthyam ,Repati <br> Ujwala Bhavishyattu Kosam</h1>

<div class="frame mt-5">
  <div class="center">
    <div class="carousel">
			
			<div class="change_outer">
				<div class="change_inner">
					<div class="element"><h6>Augmenting Healthcare, Education, Employment with <br> dedicated initiatives and service</h6></div>
                  
					<div class="element"><h6>Augmenting Healthcare, Education, Employment with <br> dedicated initiatives and service</h6></div>
					<div class="element"><h6>Augmenting Healthcare, Education, Employment with <br>dedicated initiatives and service</h6></div>
					<div class="element"><h6>Augmenting Healthcare, Education, Employment with <br>dedicated initiatives and service</h6></div>
					
				</div>
			</div>
		</div>
  </div>
</div>

</div>

</div>
<button class="btn mt-3"><a style="text-decoration: underline;"> Explore More</a></button>
</div>
