<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>


<div class="container">

<div class="row">
 <div class="col mt-2">
     
   <h1>Gyanam, Swasthyam ,Repati <br> Ujwala Bhavishyattu Kosam</h1>

<div class="frame mt-5">
  <div class="center">
    <div class="carousel">
			
			<div class="change_outer">
				<div class="change_inner">
					<div class="element"><h6>Augmenting Healthcare, Education, Employment with <br> dedicated initiatives and service</h6></div>
                  
					<div class="element"><h6>Augmenting Healthcare, Education, Employment with <br> dedicated initiatives and service</h6></div>
					<div class="element"><h6>Augmenting Healthcare, Education, Employment with <br>dedicated initiatives and service</h6></div>
					<div class="element"><h6>Augmenting Healthcare, Education, Employment with <br>dedicated initiatives and service</h6></div>
					
				</div>
			</div>
		</div>
  </div>
</div>

</div>

</div>
<button class="btn mt-3"><a style="text-decoration: underline;"> Explore More</a></button>
</div>

<div class="container">
  <div class="home-pic3">
    
  </div>
	<div class="home-pic1">
		<img class="home-pic1" src="assets/imgs/sai.png">
	</div>
		<div class="home-pic2">
			<img class="home-pic2" src="assets/imgs/Group_16.png">
			</div>
      
        <!-- <img class="home-pic3" src="assets/imgs/Combined_Shape.png"> -->
     
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="container mb-4">
    <div class="wrapper">
      <div class="block">
        <span class="span">
          <div class="bg"></div>
        
        </span>
      </div>
      <div class="content">
        <h3>HEALTHCARE</h3>
        <p>Our goal is to offer reliable, affordable, and quality health care services to the
           marginalized communities that do not have access to these services. </p>
      </div>
    </div>
  </section>

  <div class="container">
	<div class="row">
	  <div class="col">
		<h3>EDUCATION</h3>
		<p>We strive to ensure that every child gets equal learning 
			opportunities and quality education that makes the future generation self-reliant.</p>
			<img class="home-img" src="assets/imgs/Group_7-2x.png">
	  </div>
	  <div class="col">
		<img class="home-img" src="assets/imgs/Group_7-2x.png">
		<h3>EMPLOYMENT</h3>
		<p>We want to make the youth of our country cross-skilled, employable, and self reliant.</p>
	  </div>
	</div>
</div>

<section class="container mb-4">
    <div class="wrapper">
      <div class="block">
        <span class="span">
          <div class="bg"></div>
        
        </span>
      </div>
      <div class="content">
        <h3>HEALTHCARE</h3>
        <p>Our goal is to offer reliable, affordable, and quality health care services to the
           marginalized communities that do not have access to these services. </p>
      </div>
    </div>
  </section>