// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');
body {
	background: #643a7a;
}
// use only the available space inside the 400x400 frame
// .frame {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 400px;
//   height: 400px;
//   margin-top: -200px;
//   margin-left: -200px;
//   border-radius: 2px;
// 	box-shadow: .5rem 1rem 1rem rgba(0,0,0,0.6);
// 	overflow: hidden;
//   background: #efefef;
//   color: #333;
// 	font-family: 'roboto slab', serif;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// .center {
//   position: absolute;
//   top: 49.5%;
//   left: 0;
//   right: 0;
//   margin-top: -22.5px;
// 	background: pink;
// }
.carousel {
  position: relative;
  width: 100%;
  
  font-size: 30px;
  line-height: 45px;
  height: 45px;
}
.carousel .pre {
  position: absolute;
  top: 0;
//   right: 52%;
  height: 45px;
  text-shadow: 1px 1px 1px #3c2254;
  font-weight: 300;
}
.carousel .change_outer {
  position: absolute;
  top: 0;
//   left: 54%;
  text-align: left;
  height: 45px;
  overflow: hidden;
}
.carousel .change_outer .change_inner {
  position: relative;
  animation: rotate 8s ease-in-out infinite;
}
.carousel .change_outer .element {
  display: block;
}

@keyframes rotate {
 10%, 15%, 100% {
            transform: translateY(0);
  }
  25%,36% {
            transform: translateY(-45px);
  }
  46%,57% {
            transform: translateY(-90px);
  }
  67%,78% {
            transform: translateY(-135px);
  }
  88%, 99% {
            transform: translateY(-180px);
  }
}

.col h1{
    background: linear-gradient(to right, #00b4b1 0%, #026ca8 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
  }

  .wrapper{
    box-sizing: border-box;
    width: 100%;
    max-width: 1212px;
    margin: 0px auto 64px;
    padding: 0px;
    position: relative;
    }
   .wrapper .content{
      box-sizing: border-box;
      width: 100%;
      padding: 20px 15px 0px;
      margin: 0px auto;
      max-width: 1440px;
      /* display: ; */
       flex-flow: row nowrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      align-items: flex-start;
  } 
  .wrapper .block{
    position: relative;
  }
   
  .wrapper .block::before{
    display: block;
    width: 100%;
    padding-top: 30%;
    content: "";
  }
  
   .wrapper .block .span{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
  } 
  .wrapper .block .span .bg{
    position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url('Bitmap.png');
     background-size: 100%;
      background-size: cover;   
  }
  
  .wrapper .content{
    box-sizing: border-box;
      width: 100%;
      padding: 30px;
      position: relative;
      background: linear-gradient(
  141deg
  , rgb(6, 130, 187) 0%, rgb(0, 81, 149) 100%);
      color: rgb(255, 255, 255);
  }
  .wrapper .content h3{
      font-size: 20px;
      line-height: 1.4;
      font-weight: 700;
      margin: 0px 0px 32px;
      color: rgb(255, 255, 255);
  }
  .wrapper .content p{
    /* margin: 0px 0px 28px; */
    margin: 0;
    font-size: 18px;
    line-height: 26pt;
    color: #fff;
  }
    
  @media (min-width: 64em){
    .wrapper .content{
      width: 500px;
      padding: 15px;
      position: absolute;
      bottom: -50px;
      left: 24px;   
      -webkit-box-align: center;
      align-items: center;
  }
  }
  
.home-img{
  height: 674px;
  width: 530px;
}

.home-pic1 img{
  width:60%;
  height: 75%;
 position: absolute;
}

.home-pic2 img{
 position: relative;
 width: 40%;
 height: 40%;
right: -600px;
top: 100px;
}


.home-pic3 {
position: absolute;
      top: 100px;
      left: 624px;
      width: 45%;
      height: 85%;
background-image: url('Combined_Shape.png');
background-size: 100%;
background-size: cover;   
}


.wrapper1{
  box-sizing: border-box;
  width: 100%;
  max-width: 1212px;
  margin: 0px auto 64px;
  padding: 0px;
  position: relative;
  }
 .wrapper1 .content1{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px 0px;
    margin: 0px auto;
    max-width: 1440px;
    /* display: ; */
     flex-flow: row nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
} 
.wrapper1 .block1{
  position: relative;
}
 
.wrapper1 .block1::before{
  display: block;
  width: 100%;
  padding-top: 30%;
  content: "";
}

 .wrapper1 .block1 .span1{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
} 
.wrapper1 .block1 .span1 .bg1{
  position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('Bitmap_Copy.png');
   background-size: 100%;
    background-size: cover;   
}

.wrapper1 .content1{
  box-sizing: border-box;
    width: 100%;
    padding: 30px;
    position: relative;
    background: linear-gradient(
141deg
, rgb(6, 130, 187) 0%, rgb(0, 81, 149) 100%);
    color: rgb(255, 255, 255);
}
.wrapper1 .content1 h3{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0px 0px 32px;
    color: rgb(255, 255, 255);
}
.wrapper1 .content1 p{
  /* margin: 0px 0px 28px; */
  margin: 0;
  font-size: 18px;
  line-height: 26pt;
  color: #fff;
}
  
@media (min-width: 64em){
  .wrapper1 .content1{
    width: 500px;
    padding: 15px;
    position: absolute;
    bottom: -50px;
    left: 24px;   
    -webkit-box-align: center;
    align-items: center;
}
}
